@model RentCars.Models.RentvarMode
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href=""><h2>Rent <em>Cars</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index?email=@Model.email">
                            الرئيسية
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="AllProducts?email=@Model.email">جميع السيارات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="yourCard?email=@Model.email">حجوزاتك</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<br /><br /><br /><br /><br /><br />
@using (Html.BeginForm("singleProduct", "Home", FormMethod.Post, new { name = "sg", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.email)

    <div class="container" dir="rtl">

        <h2 style="text-align:center">   @Model.Mark @Model.Model</h2>

        <div class="row">
            <div class="col-md-4">

                <img src="@Url.Content(Model.Image)" width="300" height="300" alt="Image">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <h4 style="text-align:right">عدد الركاب:</h4>

                    <li><h2>@Html.TextBoxFor(x => x.No, new { @class = "form-control" ,@readonly = true})</h2></li>
                    <br />
                    <h4 style="text-align:right">التهوية:</h4>

                    <li><p>@Html.TextBoxFor(x => x.adaptation, new { @class = "form-control", @readonly = true })</p></li>
                    <br />
                    <h4 style="text-align:right">النوع:</h4>
                    <li><p>@Html.TextBoxFor(x => x.cat, new { @class = "form-control" , @readonly = true })</p></li>
                    <br />
                    <h4 style="text-align:right">عدد الابواب:</h4>
                    <li><p>@Html.TextBoxFor(x => x.NoOfDoors, new { @class = "form-control", @readonly = true })</p></li>
                    <br />
                    <h4 style="text-align:right">سعر التأجير فى اليوم:</h4>
                    <li><p>@Html.TextBoxFor(x => x.priceForDay, new { @class = "form-control" , @readonly = true })</p></li>



                    <li><p></p></li>
                </ul>
                <br />
                <h1 style="color:red">@Model.mess</h1>
                <h4 style="text-align:center"><h1 style="text-align:center">اكمل الاستمارة</h1></h4>
                <div class="form-control" dir="rtl" style="margin: 20px 0; height: auto;">
                    <h4 style="text-align:right">الاسم</h4>
                    <input type="text" class="form-control" name="CustomerName" style="color: #000" required>
                    <h4 style="text-align:right">الهاتف</h4>
                    <input type="number" class="form-control" name="CustomerPhone" style="color: #000" required>
                    <h4 style="text-align:right">عدد ايام التأجير</h4>
                    <input type="number" class="form-control" name="RentDuration" style="color: #000" required>
                    <h4 style="text-align:right">تاريخ الاستلام</h4>
                    <input type="date" min="2022-06-14" max="2032-05-10" class="form-control" name="deliverydate" style="color: #000" required>
                    <h4 style="text-align:right">مناسبة التأجير</h4>
                    <input type="text" class="form-control" name="Occasion" style="color: #000" required>
                    <h4 style="text-align:right">اضافات فى السيارة</h4>
                    <input type="text" class="form-control" name="Additions" style="color: #000" required>

                </div>

                <input type="submit" class="btn btn-dark" value="اضف الاستمارة">

            </div>
        </div>

    </div>




}
